/*
  Main Smadex CSS
*/

@import url(html5reset.css);

* { font-family: 'Lato', sans-serif; }

/* Clearfix */

.cf:after {
  clear: both;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf {
  *zoom: 1;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.middle {
  font-size: 0;
}

.middle:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 100%;
  margin-left: -1px;
}

.bottom:before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 0.1rem;
  height: 100%;
  margin-left: -0.1rem;
}

.button {
  position: relative;
  padding: 10px 40px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  background: #0078ae;
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.button:after {
  position: absolute;
  content: "";
  background: #000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.button:hover:after {
  opacity: 0.2;
}

.button.light {
  background: #a7def4;
  color: #0078ae;
}

.button.small {
  padding: 5px 15px;
  font-weight: normal;
  font-size: 16px;
}
/* Form */

form .row {
  width: 100%;
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  display: block;
  padding: 0 1px 5px;
}

input {
  font-size: 20px;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* grid */

.col-2 {
  margin-left: -5%;
}

.col-2 > li {
  width: 45%;
  margin: 0 0 0 5%;
}

.col-3 {
  margin-left: -5%;
}

.col-3 > li {
  width: 28%;
  margin: 0 0 40px 5%;
}

.col-3 .margin {
  margin-left: 20%;
}

.col-4 {
  margin-left: -5%;
}

.col-4 > li {
  width: 20%;
  margin: 0 0 40px 5%;
}

.col-5 > li {
  width: 20%;
  margin: 0 0 40px 0;
}

.col-6 {
  margin-left: -5%;
}

.col-6 > li {
  width: 11.6%;
  margin: 0 0 40px 5%;
  height: 270px;
}

.smartphones {
  margin: 35px 0 75px -50px;
}

.smartphones li {
  margin-left: 50px;
}

.tablets {
  margin: 35px 0 0 -85px;
  padding-bottom: 30px;
}

.tablets li {
  margin-left: 85px;
}

body {
  background: white;
}

.main-header {
  position: fixed;
  height: 73px;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 0 40px;
  margin-bottom: 8px;
  -webkit-box-shadow: 8px 0 0 rgba(0,0,0,0.3);
  box-shadow: 8px 0 0 rgba(0,0,0,0.3);
  z-index: 100;
}

.main-header:after {
  position: absolute;
  content: "";
  height: 10px;
  top: 73px;
  left: 0;
  right: 0;
  background: url(images/shadow.png) repeat-x;
}

.header-wrapper {
  width: 970px;
  margin: 0 auto;
}

.main-header h1 {
  float: left;
  width: 175px;
  height: 39px;
  margin-top: 17px;
  background: url("images/logo_smadex.png") no-repeat;
  font-size: 0;
}

.nav-toggle {
  width: 42px;
  position: absolute;
  height: 42px;
  background: url(images/menu.png) no-repeat center;
  top: 3px;
  right: 28px;
  border: none;
  display: none;
}

.main-header nav {
  float: right;
  position: relative;
  display: block;
}

.main-header nav ul {
  float: left;
  margin-left: 0 2px;
}

.main-header nav ul li {
  float: left;
  margin-left: 20px;
}

.main-header nav ul li a {
  padding: 0 2px;
  line-height: 73px;
  color: #b0b0b0;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.main-header nav ul li a:hover,
.main-header nav ul li a:active,
.main-header nav ul li.active a {
  color: #0078ae;
  border-bottom-color: #0078ae;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main-header nav ul li button {
  margin-top: 20px;
  display: inline;
}

/* Login */
#login-form {
  display: none;
  padding: 50px 80px;
}

#login-err {
  display: none;
}

form .row {
  width: 100%;
  margin-bottom: 20px;
}

form button {
  margin-right: 10px;
}


/* Carousel ------------------------------------------------------------------------- */

.slideshow-wrapper {
  position: fixed;
  top: 73px;
  left: 0;
  width: 100%;
  background-color: #086da3;
  z-index: -1;
}

.slideshow {
  position: relative;
  width: 1440px;
  margin: 0 auto;
  text-align: center;
}

.slideshow ul {
  list-style: none;
}

.slideshow .carousel li {
  position: relative;
  width: 1440px;
  height: 430px;
  background: center no-repeat;
  color: white;
  text-align: center;
  display: inline-block;
}

.slideshow .carousel li.first {
  background-image: url(images/background_1.jpg);
}

.slideshow .carousel li.second {
  background-image: url(images/background_2.jpg);
}

.slideshow .carousel li.third {
  background-image: url(images/background_3.jpg);
}

.slideshow .text-wrapper {
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.slideshow h2 {
  font-size: 50px;
  font-size: 50px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.5);
  font-weight: 300;
  text-transform: uppercase;
}

.slideshow p {
  font-size: 30px;
  line-height: 50px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.5);
  font-weight: 300;
}

.slideshow .button {
  margin-top: 40px;
}

.slideshow .slides-controls {
  width: 970px;
  margin: 0px auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.slideshow .slides-pagination {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.slideshow .slides-pagination {
  position: absolute;
  bottom: 36px;
  width: 100%;
  z-index: 10;
}

.slideshow .slides-pagination li {
  display: inline-block;
  margin-left: 10px;
}

.slideshow .slides-pagination li a {
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  font-size: 0;
  background: white;
  opacity: 0.4;
}

.slideshow .slides-pagination li:first-child {
  margin-left: 0;
}

.slideshow .slides-pagination li.selected a {
  opacity: 1;
}

.slideshow .slides-next,
.slideshow .slides-prev {
  position: absolute;
  width: 25px;
  height: 46px;
  top: 183px;
  font-size: 0;
  z-index: 10;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.slideshow .slides-next {
  right: 0;
  background: url(images/slide_next.png);
}

.slideshow .slides-prev {
  left: 0;
  background: url(images/slide_prev.png);
}

/* Main content --------------------------------------------------------------------- */

.main-content {
  margin-top: 500px;
  width: 100%;
  background: white;
}

.main-content > article {
  overflow: hidden;
  padding: 80px 40px;
}

.main-content > article.color {
  background: #a7def4;
  color: #31789f;
}

.main-content > article.grey {
  background: #e6e6e6;
}

.main-content > article:first-child {
  padding: 40px;
}

.content-wrapper {
  width: 970px;
  margin: 0 auto;
}

.content-wrapper ul {
  list-style: none;
}

.main-content ul li {
  float: left;
}

.main-content .col-4 > li {
  text-align: left;
}

.main-content a {
  text-decoration: none;
}

.main-content h2 {
  font-size: 60px;
  font-weight: 300;
  text-align: center;
}

.main-content h3 {
  margin-bottom: 70px;
  font-size: 16px;
  line-height: 40px;
  font-weight: 300;
  text-align: center;
  color: #858585;
  text-transform: uppercase;
}

.main-content .color h3 {
  color: inherit;
}

.main-content h4 {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 15px 0;
  padding: 15px 0;
  border-bottom: 2px solid #d9d9d9;
}

.main-content li h4 {
  width: 170px;
}

.main-content .color h4 {
  border-bottom-color: #71c3e0;
}

.main-content .center h4 {
  margin: 0 auto 15px auto;
}

.main-content h4.icon {
  position: relative;
  padding-top: 70px;
}

.main-content h4.icon:before {
  position: absolute;
  content: "";
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  background: 0 center no-repeat;
}

.main-content .center h4.icon:before {
  background-position: center;
}

.main-content .icon.icon-performance:before {
  background-image: url(images/icon_performance.png);
}

.main-content .icon.icon-branding:before {
  background-image: url(images/icon_branding.png);
}

.main-content .icon.icon-target:before {
  background-image: url(images/icon_target.png);
}

.main-content .icon.icon-reporting:before {
  background-image: url(images/icon_reporting.png);
}

.main-content .icon.icon-smart:before {
  background-image: url(images/icon_smart.png);
}

.main-content .icon.icon-campain:before {
  background-image: url(images/icon_campain.png);
}

.main-content .icon.icon-country:before {
  background-image: url(images/icon_country.png);
}

.main-content .icon.icon-local:before {
  background-image: url(images/icon_local.png);
}

.main-content .icon.icon-device:before {
  background-image: url(images/icon_device.png);
}

.main-content .icon.icon-apps:before {
  background-image: url(images/icon_apps.png);
}

.main-content .icon.icon-time:before {
  background-image: url(images/icon_time.png);
}

.main-content .icon.icon-carrier:before {
  background-image: url(images/icon_carrier.png);
}

.main-content p {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}

.call-to-action-wrapper {
  margin-top: 70px;
  text-align: center;
}

.main-content > article.logos {
  padding-bottom: 30px;
}

.logos li {
  min-width: 240px;
  height: 160px;
  background: no-repeat center;
  margin-bottom: 20px;
}

.logos li a {
  height: 100%;
  display: block;
  background: no-repeat center;
  opacity: 0;
  color: #e6e6e6;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.logos li.mopub {
  background-image: url(images/logo_mopub_off.png);
}

.logos li.mopub a {
  background-image: url(images/logo_mopub.png);
}

.logos li.flurry {
  background-image: url(images/logo_flurry_off.png);
}

.logos li.flurry a {
  background-image: url(images/logo_flurry.png);
}

.logos li.nexage {
  background-image: url(images/logo_nexage_off.png);
}

.logos li.nexage a {
  background-image: url(images/logo_nexage.png);
}

.logos li.inneractive {
  background-image: url(images/logo_inneractive_off.png);
}

.logos li.inneractive a {
  background-image: url(images/logo_inneractive.png);
}

.logos li.doubleclick {
  background-image: url(images/logo_doubleclick_off.png);
}

.logos li.doubleclick a {
  background-image: url(images/logo_doubleclick.png);
}

.logos li:hover a {
  opacity: 1;
}

.main-content ul. li {
  margin-left: 0;
}

.main-content h5 {
  font-size: 16px;
  font-weight: 300;
  padding: 12px 0;
  color: black;
}

.content-wrapper .smartphones li span,
.content-wrapper .tablets li span {
  display: none;
}

.main-content .about {
  margin: 20px 0 60px;
}

.about li {
  height: 80px;
  margin-bottom: 40px;
  background: no-repeat center;
}

.about li a {
  height: 100%;
  width: 100%;
  display: block;
  background: no-repeat center;
  opacity: 0;
  font-size: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.about li a:hover {
  opacity: 1;
}

.about li.lavanguardia {
  background-image: url(images/logo_lavanguardia_off.png);
}

.about li.lavanguardia a {
  background-image: url(images/logo_lavanguardia.png);
}

.about li.techcrunch {
  background-image: url(images/logo_tc_off.png);
}

.about li.techcrunch a {
  background-image: url(images/logo_tc.png);
}

.about li.barcelona-io {
  background-image: url(images/logo_io_off.png);
}

.about li.barcelona-io a {
  background-image: url(images/logo_io.png);
}

.about li.thenextweb {
  background-image: url(images/logo_tnw_off.png);
}

.about li.thenextweb a {
  background-image: url(images/logo_tnw.png);
}

.about li.iab {
  background-image: url(images/logo_iab_off.png);
}

.about li.iab a {
  background-image: url(images/logo_iab.png);
}

.main-content h6 {
  font-size: 16px;
  font-weight: 300;
  padding: 0 0 20px 0;
  color: #858585;
}

.main-content img {
  width: 100%;
}

.main-content .social {
  width: 80px;
  margin: 0;
  padding: 10px 0;
  border-top: 2px solid #d9d9d9;
}

.main-content .social li {
  width: 40px;
  height: 35px;
  margin: 0;
  background: left center no-repeat;
}

.main-content .social li a {
  width: 100%;
  height: 100%;
  font-size: 0;
  display: block;
  background: left center no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.main-content .social li a:hover {
  opacity: 1;
}

.main-content .social li.twitter {
  background-image: url(images/logo_twitter_off.png);
}

.main-content .social li.twitter a {
  background-image: url(images/logo_twitter.png);
}

.main-content .social li.linkedin {
  background-image: url(images/logo_linkedin_off.png);
}

.main-content .social li.linkedin a {
  background-image: url(images/logo_linkedin.png);
}

/* Footer ---------------------------------------------------------------------------- */

.main-footer {
  background: #2b2b2b;
  color: #e6e6e6;
  padding: 40px;
}

.main-footer .content-wrapper {
  padding: 85px 0;
}

.main-footer li {
  float: left;
}

.main-footer li li {
  float: none;
}

.main-footer h4 {
  font-size: 30px;
  padding-bottom: 30px;
}

.main-footer p {
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 40px;
}

.main-footer .links {
  margin-bottom: 45px;
}

.main-footer .links a {
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  text-decoration: underline;
  color: #858585;
}

.main-footer .address {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #858585;
}

/* Responsive ----------------------------------------------------------------------- */

@media only screen and (max-width : 1400px) {
  .slideshow {
    width: 100%;
  }

  .slideshow .carousel li {
    width: 100%;
  }

  .slideshow .text-wrapper {
    width: 80%;
    left: 10%;
  }

  .slideshow .slides-controls {
    width: auto;
    margin: 0;
    left: 40px;
    right: 40px;
  }
}

@media only screen and (max-width : 1050px) {
  .header-wrapper {
    width: 100%;
  }

  .slideshow {
    width: 100%;
  }

  .content-wrapper {
    width: 100%;
  }

  .content-wrapper .smartphones,
  .content-wrapper .tablets {
    margin-left: -5%;
  }

  .content-wrapper .smartphones li {
    width: 16.5%;
    margin: 0 0 30px 5%;
  }

  .content-wrapper .smartphones li:last-child {
    width: 29%;
  }

  .content-wrapper .tablets li {
    width: 24.5%;
    margin: 0 0 30px 5%;
  }

  .content-wrapper .tablets li:last-child {
    width: 35%;
  }

  .content-wrapper .smartphones li img,
  .content-wrapper .tablets li img {
    width: 100%;
  }
}

@media only screen and (max-width : 890px) {
  .logos .col-3 {
    margin-left: 0;
  }

  .logos .col-3 > li {
    width: 50%;
    margin: 0;
  }

  .col-5 {
    margin-left: -5%;
  }

  .col-5 > li {
    width: 28%;
    margin-left: 5%;
  }

  .col-5 > li.margin {
    margin-left: 22%;
  }

  .col-6 > li {
    width: 20%;
  }

  .main-footer .content-wrapper {
    padding: 50px 0px;
  }

  .main-footer .col-2 > li {
    width: 30%;
    float: left;
  }

  .main-footer .col-2 > li:first-child {
    width: 60%;
  }
}

@media only screen and (max-width : 768px) {
  .main-header {
    height: 50px;
    padding: 0 40px;
  }

  .main-header:after {
    top: 50px;
  }

  .header-wrapper {
    width: 100%;
    padding: 0;
  }

  .main-header h1 {
    width: 124px;
    height: 28px;
    margin-top: 11px;
    background-image: url(images/tablet/logo_smadex.png);
  }

  .nav-toggle {
    display: block;
  }

  .main-header nav {
    display: none;
    position: absolute;
    background: #fff;
    height: 215px;
    top: 47px;
    right: 40px;
    left: 40px;
    border-top: 3px solid #0078ae;
    z-index: 10;
    -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,.26);
    box-shadow: 1px 2px 4px rgba(0,0,0,.26);
    padding: 35px 20px;
  }

  .main-header nav.show {
    display: block;
  }

  .main-header nav ul {
    float: none;
    padding: 0;
  }

  .main-header nav ul li {
    display: block;
    padding: 0;
    margin: 0;
    width: auto;
    float: none;
    border-top: 1px solid #f0f0f0;
  }

  .main-header nav ul li:first-child {
    border-top-width: 0;
  }

  .main-header nav ul + ul li:first-child {
    border-top-width: 1px;
  }

  .main-header nav ul li a {
    color: black;
    margin: 0;
    padding: 14px 45px;
    border: none;
    display: block;
    line-height: inherit;
  }

  .main-header nav ul li button.light {
    background: none;
    display: block;
    margin-top: 0;
    padding: 14px 45px;
    color: black;
  }

  .main-header nav ul li button:hover,
  .main-header nav ul li button:active {
    color: #0078ae;
  }

  .main-header nav ul li button:after {
    display: none;
  }

  /* Carousel */

  .slideshow-wrapper {
    top: 50px;
  }

  .slideshow .carousel li {
    width: 100%;
    height: 350px;
  }

  .slideshow .text-wrapper {
    width: auto;
    margin: 0 40px;
  }

  .slideshow .slides-next,
  .slideshow .slides-prev {
    opacity: 0;
  }

  /* Main content */

  .main-content {
    margin-top: 400px;
  }

  .content-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .col-2 > li {
    float: none;
    width: 95%;
    margin: 0 0 30px 5%;
  }

  .col-2 > li:last-child {
    margin-bottom: 0;
  }

  .col-3 > li,
  .col-4 > li {
    width: 45%;
    margin: 0 0 30px 5%;
  }

  .col-2 > li li {
    margin: 0;
  }
}

@media only screen and (max-width : 650px) {
  .slideshow h2 {
    font-size: 50px;
  }

  .content-wrapper .smartphones {
    margin-bottom: 20px;
  }

  .content-wrapper .tablets + .call-to-action-wrapper {
    margin-top: 0;
  }

  .content-wrapper .smartphones li,
  .content-wrapper .tablets li {
    width: 95%;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #d9d9d9;
  }

  .content-wrapper .smartphones li:last-child,
  .content-wrapper .tablets li:last-child {
    width: 95%;
  }

  .content-wrapper .smartphones li img,
  .content-wrapper .tablets li img {
    display: none;
  }

  .content-wrapper .smartphones li span,
  .content-wrapper .tablets li span {
    display: block;
  }
}

@media only screen and (max-width : 570px) {
  .logos .col-3 {
    margin-left: 0;
  }

  .logos .col-3 > li {
    width: 100%;
  }

  .col-5 > li {
    width: 45%;
  }

  .col-5 > li.margin {
    margin-left: 5%;
  }

  .col-6 > li {
    width: 28.33%;
  }

  .main-footer .content-wrapper {
    padding: 20px 0px;
  }

  .main-footer .col-2 > li {
    width: 100%;
    float: none;
    margin: 0 auto;
    text-align: center;
  }

  .main-footer .col-2 > li:first-child {
    width: 100%;
    margin-bottom: 80px;
  }

  #login-form {
    padding: 50px 20px;
  }
}

@media only screen and (max-width : 480px) {
  .slideshow h2 {
    font-size: 38px;
    line-height: 48px;
  }

  .slideshow p {
    font-size: 16px;
    line-height: 30px;
  }

  .col-3 > li,
  .col-4 > li {
    float: none;
    text-align: center;
    width: 95%;
    margin: 0 0 30px 5%;
  }

  .main-content > article {
    padding: 50px 40px;
  }

  .main-content h2 {
    font-size: 34px;
  }

  .main-content h4 {
    margin: 0 auto 15px;
    text-align: center;
  }

  .main-content h3 {
    padding-top: 15px;
    line-height: inherit;
  }

  .main-content p {
    text-align: center;
  }

  .main-content h4.icon:before {
    background-position: center;
  }

  .call-to-action-wrapper {
    margin-top: 40px;
  }

  .fancybox-wrap,
  .fancybox-inner,
  .fancybox-skin,
  .fancybox-outer {
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }

  .fancybox-close {
    top: 3px;
    right: 3px;
  }

  #login-form {
    padding: 50px 20px;
  }
}

@media only screen and (max-width : 400px) {
  .slideshow h2 {
    font-size: 30px;
    line-height: auto;
  }

  .slideshow p {
    font-size: 18px;
    line-height: auto;
  }

  .col-5 > li {
    width: 95%;
  }

  .col-6 > li {
    width: 45%;
  }
}

/*
.fancybox-type-iframe .fancybox-nav {
    width: 60px;
}

.fancybox-type-iframe .fancybox-nav span {
    visibility: visible;
    opacity: 0.5;
}

.fancybox-type-iframe .fancybox-nav:hover span {
    opacity: 1;
}

.fancybox-type-iframe .fancybox-next {
    right: -60px;
}

.fancybox-type-iframe .fancybox-prev {
    left: -60px;
}*/